
<div class="row">
  <h2><i>Time Stamps</i></h2>
  <table>
    <thead>
      <tr>
        <th>Type</th>
        <th>Price</th>
        <th>When</th>
        <th>Ago</th>
      </tr>
    </thead>
    <tbody>
      {{#each getStamps}}
      <tr>
        <td>{{type}}</td>
        <td>{{price}}</td>
        <td>{{when}}</td>
        <td>{{ago}}</td>
      </tr>
      {{/each}}
    </tbody>

  </table>

</div>
